**/__pycache__
**/.classpath
**/.dockerignore
**/.editorconfig
**/.env
**/.git
**/.gitattributes
**/.gitignore
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/html
**/jobs
**/json
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/tests
**/values.dev.yaml
**/web
README.md
